module.exports = {
  testEnvironment: "jsdom", // Simular un entorno de navegador
  setupFilesAfterEnv: ["<rootDir>/src/setupTests.js"], // Configuración global
  transform: {
    "^.+\\.jsx?$": "esbuild-jest", // Usa esbuild para procesar los archivos de JavaScript
  },
  moduleNameMapper: {
    "\\.(css|scss)$": "identity-obj-proxy", // Ignorar importaciones de estilos
  },
  collectCoverage: true, // Habilitar cobertura
  coverageDirectory: "coverage", // Carpeta de informes
  collectCoverageFrom: [
    "src/**/*.{js,jsx}", // Archivos a incluir en la cobertura
    "!src/**/*.test.{js,jsx}", // Excluir pruebas
    "!src/index.jsx", // Excluir el archivo de entrada principal
    "!src/setupTests.js", // Excluir configuraciones
  ],
};
